In [11]:
import pandas as pd

In [12]:
from sqlalchemy import create_engine

In [24]:
from time import time

In [14]:
df_green_taxi = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz', nrows=100)

In [52]:
df_green_taxi.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
600000,2,2019-01-30 15:48:41,2019-01-30 15:57:31,N,1,260,82,1,1.03,7.00,0.0,0.5,0.00,0.0,NaN,0.3,7.80,2,1,0.0
600001,2,2019-01-30 15:29:04,2019-01-30 15:35:59,N,1,166,151,1,1.15,7.00,0.0,0.5,0.00,0.0,NaN,0.3,7.80,2,1,0.0
600002,2,2019-01-30 15:50:30,2019-01-30 15:56:54,N,1,166,116,1,1.29,7.00,0.0,0.5,0.00,0.0,NaN,0.3,7.80,2,1,0.0
600003,2,2019-01-30 16:15:39,2019-01-30 16:43:32,N,5,166,230,1,5.39,22.51,0.0,0.5,0.00,0.0,NaN,0.0,23.01,1,2,0.0
600004,2,2019-01-30 15:01:59,2019-01-30 15:18:49,N,1,66,181,1,3.58,13.50,0.0,0.5,2.86,0.0,NaN,0.3,17.16,1,1,0.0

In [54]:
df_green_taxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30918 entries, 600000 to 630917
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               30918 non-null  int64
 1   lpep_pickup_datetime   30918 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  30918 non-null  datetime64[ns]
 3   store_and_fwd_flag     30918 non-null  object
 4   RatecodeID             30918 non-null  int64
 5   PULocationID           30918 non-null  int64
 6   DOLocationID           30918 non-null  int64
 7   passenger_count        30918 non-null  int64
 8   trip_distance          30918 non-null  float64
 9   fare_amount            30918 non-null  float64
 10  extra                  30918 non-null  float64
 11  mta_tax                30918 non-null  float64
 12  tip_amount             30918 non-null  float64
 13  tolls_amount           30918 non-null  float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  30918 non-null  float64
 16  total_amount           30918 non-null  float64
 17  payment_type           30918 non-null  int64
 18  trip_type              30918 non-null  int64
 19  congestion_surcharge   30918 non-null  float64
dtypes: datetime64[ns](2), float64(10), int64(7), object(1)
memory usage: 4.7+ MB

In [15]:
engine = create_engine('postgresql://root:root@localhost:5432/ng_taxi')

In [16]:
engine.connect()

In [19]:
print(pd.io.sql.get_schema(frame=df_green_taxi, name= 'green_taxi_data', con=engine))

CREATE TABLE green_taxi_trips (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [38]:
df_green_taxi_inter =  pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz',iterator=True, chunksize=100000)

In [39]:
df_green_taxi = next(df_green_taxi_inter)

In [40]:
df_green_taxi.lpep_pickup_datetime = pd.to_datetime(df_green_taxi.lpep_pickup_datetime)
df_green_taxi.lpep_dropoff_datetime = pd.to_datetime(df_green_taxi.lpep_dropoff_datetime)

In [41]:
df_green_taxi.head(0).to_sql(name="green_taxi_data", con=engine, if_exists='replace')

0

In [44]:
%time df_green_taxi.to_sql(name="green_taxi_data", con=engine, if_exists='append')

CPU times: total: 5.12 s
Wall time: 11 s

1000

In [45]:
while True:
    time_start = time()
    df_green_taxi = next(df_green_taxi_inter)
    df_green_taxi.lpep_pickup_datetime = pd.to_datetime(df_green_taxi.lpep_pickup_datetime)
    df_green_taxi.lpep_dropoff_datetime = pd.to_datetime(df_green_taxi.lpep_dropoff_datetime)
    df_green_taxi.to_sql(name="green_taxi_data", con=engine, if_exists='append')
    time_end = time()
    print('time for each chunk', time_end-time_start)

time for each chunk 9.693016290664673
time for each chunk 9.412307024002075
time for each chunk 9.400518655776978
time for each chunk 11.612648963928223
time for each chunk 10.136122465133667
time for each chunk 3.398648977279663

StopIteration:

In [46]:
df_zones = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv')

In [53]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [55]:
df_zones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

In [50]:
df_zones.head(0).to_sql(name="green_zones", con=engine, if_exists='replace')

0

In [51]:
df_zones.to_sql(name="green_zones", con=engine, if_exists='append')

265