In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.5.3'

In [53]:
yellow_taxi = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-02.csv.gz')

C:\Users\Ashraf\AppData\Local\Temp\ipykernel_2300\1117977968.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  yellow_taxi = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-02.csv.gz')

In [55]:
x = yellow_taxi

In [14]:
yellow_taxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   tpep_pickup_datetime   100 non-null    object
 2   tpep_dropoff_datetime  100 non-null    object
 3   passenger_count        100 non-null    int64
 4   trip_distance          100 non-null    float64
 5   RatecodeID             100 non-null    int64
 6   store_and_fwd_flag     100 non-null    object
 7   PULocationID           100 non-null    int64
 8   DOLocationID           100 non-null    int64
 9   payment_type           100 non-null    int64
 10  fare_amount            100 non-null    float64
 11  extra                  100 non-null    float64
 12  mta_tax                100 non-null    float64
 13  tip_amount             100 non-null    float64
 14  tolls_amount           100 non-null    float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  congestion_surcharge   100 non-null    float64
dtypes: float64(9), int64(6), object(3)
memory usage: 14.2+ KB

In [19]:
yellow_taxi.tpep_pickup_datetime = pd.to_datetime(yellow_taxi.tpep_pickup_datetime)
yellow_taxi.tpep_dropoff_datetime = pd.to_datetime(yellow_taxi.tpep_dropoff_datetime)

In [20]:
yellow_taxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   tpep_pickup_datetime   100 non-null    datetime64[ns]
 2   tpep_dropoff_datetime  100 non-null    datetime64[ns]
 3   passenger_count        100 non-null    int64
 4   trip_distance          100 non-null    float64
 5   RatecodeID             100 non-null    int64
 6   store_and_fwd_flag     100 non-null    object
 7   PULocationID           100 non-null    int64
 8   DOLocationID           100 non-null    int64
 9   payment_type           100 non-null    int64
 10  fare_amount            100 non-null    float64
 11  extra                  100 non-null    float64
 12  mta_tax                100 non-null    float64
 13  tip_amount             100 non-null    float64
 14  tolls_amount           100 non-null    float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  congestion_surcharge   100 non-null    float64
dtypes: datetime64[ns](2), float64(9), int64(6), object(1)
memory usage: 14.2+ KB

In [9]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in f:\data_engineering_zoomcamp\data_engineering_zoomcamp\env\lib\site-packages (1.4.46)
Requirement already satisfied: greenlet!=0.4.17 in f:\data_engineering_zoomcamp\data_engineering_zoomcamp\env\lib\site-packages (from sqlalchemy) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [10]:
from sqlalchemy import create_engine

In [11]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in f:\data_engineering_zoomcamp\data_engineering_zoomcamp\env\lib\site-packages (2.9.5)
Note: you may need to restart the kernel to use updated packages.

In [12]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [13]:
engine.connect()

In [28]:
print(pd.io.sql.get_schema(frame=yellow_taxi, name= 'yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [3]:
yellow_taxi_iter = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-02.csv.gz',iterator= True, chunksize= 100000)

In [4]:
yellow_taxi_iter

In [5]:
yellow_taxi = next(yellow_taxi_iter)

In [6]:
yellow_taxi.shape

(100000, 18)

In [14]:
yellow_taxi.tpep_pickup_datetime = pd.to_datetime(yellow_taxi.tpep_pickup_datetime)
yellow_taxi.tpep_dropoff_datetime = pd.to_datetime(yellow_taxi.tpep_dropoff_datetime)

In [15]:
yellow_taxi.head(0).to_sql(name="yellow_taxi_data", con=engine, if_exists='replace')

0

In [16]:
%time yellow_taxi.to_sql(name="yellow_taxi_data", con=engine, if_exists='append')

CPU times: total: 7.03 s
Wall time: 15.6 s

1000

In [17]:
from time import time

In [18]:
while True:
    t_start = time()
    yellow_taxi = next(yellow_taxi_iter)
    yellow_taxi.tpep_pickup_datetime = pd.to_datetime(yellow_taxi.tpep_pickup_datetime)
    yellow_taxi.tpep_dropoff_datetime = pd.to_datetime(yellow_taxi.tpep_dropoff_datetime)
    yellow_taxi.to_sql(name="yellow_taxi_data", con=engine, if_exists='append')
    t_end = time()
    print('time for the chunck', t_end - t_start)

time for the chunck 13.780863046646118
time for the chunck 13.30045771598816
time for the chunck 13.489401578903198
time for the chunck 13.060538291931152
time for the chunck 13.528526782989502
time for the chunck 13.741323709487915
time for the chunck 13.030092239379883
time for the chunck 13.26789116859436
time for the chunck 14.209429502487183
time for the chunck 11.242957592010498
time for the chunck 9.656593084335327

C:\Users\Ashraf\AppData\Local\Temp\ipykernel_18752\1144761415.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  yellow_taxi = next(yellow_taxi_iter)

time for the chunck 9.604124307632446
time for the chunck 6.301130533218384

StopIteration: